
@{
    // ViewData["Title"] = "Dummy Web page title";


    ViewBag.Title = "PageHit Counter Page";
}



<h2>Test page for Docker with Visual Studio and redis - Hit Counter</h2>

<br>
<br>
<h3>
    Page Hits :  @ViewBag.Visit
</h3>

<br>
<br>


